li {
    color: white;
    list-style: none;
    padding: 15px;
}

.contenedorCarrito:nth-child(odd) {
    background-color: grey;
}

.h1Cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;  
}