.productos {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}


@media (max-width: 800px) {

    .productos {
        display:flex;
        flex-wrap: wrap;
    }
}