.itemListContainer {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
    justify-content: center;    
}

h2 {
    margin-top: 20px;
    color: white;

}

.cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

@media (max-width: 800px) {

    .itemContenedor  {
        max-width: none;
    }
    .productos {
        display:flex;
        flex-direction: column;
    }
}