:root {
    --background-color: rgba(34, 34, 34, 0.349) ;
}
.itemContenedor {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-self: flex-start;
 background-color:  var(--background-color);
 padding:30px;
 width:90%;
 border-radius: 40px;
 margin : 20px;
 color: #fff;
}

.imgCard {
    width:100%;
}

.itemContenedor:hover{
    box-shadow: 0 0 15px rgb(195, 0, 255);
}
hr {
    color: yellow;
}
h3{
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    text-align:center;
}

.div-btn-detalle {
    display:flex;
    justify-content: center;
    
}

@media (max-width:800px) {
    .btn-detalle{
        margin: none;
        width: 75vw;
    }
}
 